<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
</head>
<body>
<div class="uk-grid">
    <div class="uk-width-1-5"></div>
    <div class="uk-width-3-5">
        <h1>Moneyger</h1>
        <p>Hello <span th:text="${user.displayName}"></span></p>
        <form th:action="@{/logout}" method="post">
            <button class="uk-button">Logout</button>
        </form>
        <br />
        <form th:action="@{/outcomes}" method="post" th:object="${outcome}" class="uk-panel uk-panel-box uk-form">
            <input class="uk-form" name="outcomeDate" type="date" placeholder="支出日" required="required"/>
            <input class="uk-form" name="outcomeName" type="text" placeholder="支出名" required="required"/>
            <input class="uk-form" name="amount" type="number" placeholder="金額" min="0"/>
            <button class="uk-button uk-button-primary">登録</button>
        </form>

        <h2>支出一覧</h2>
        <table class="uk-table uk-table-striped">
            <tr>
                <th>支出日</th>
                <th>支出名</th>
                <th>金額</th>
                <th>支出者</th>
            </tr>
            <tr th:each="outcome : ${outcomes}">
                <td th:text="${outcome.outcomeDate}"></td>
                <td th:text="${outcome.outcomeName}"></td>
                <td th:text="${outcome.amount}"></td>
                <td th:text="${outcome.outcomeBy}"></td>
            </tr>
        </table>
    </div>
    <div class="uk-width-1-5"></div>
</div>
</body>
</html>