<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Moneygr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
</head>
<body>
<div class="uk-grid">
    <div class="uk-width-1-5"></div>
    <div class="uk-width-3-5">
        <h1><a th:href="@{/home}">Moneyger</a></h1>
        <p>Hello <span th:text="${user.displayName}"></span></p>
        <form th:action="@{/logout}" method="post">
            <button class="uk-button">Logout</button>
        </form>
        <br/>
        <form th:action="@{/outcomes}" method="post" th:object="${outcome}"
              class="uk-panel uk-panel-box uk-form">
            <input class="uk-form" name="outcomeDate" type="date" placeholder="支出日" required="required"
                   th:value="${outcomeDate}"/>
            <input class="uk-form" name="outcomeName" type="text" placeholder="支出名" required="required"
                   onblur="predict(this)"/>
            <input class="uk-form" name="amount" type="number" placeholder="単価" min="0" required="required"/>
            <div class="uk-button-group">
                <button class="uk-button uk-button-small">+8%</button>
                <button class="uk-button uk-button-small">-8%</button>
                <button class="uk-button uk-button-small">+5%</button>
                <button class="uk-button uk-button-small">-5%</button>
                <button class="uk-button uk-button-small">+10%</button>
                <button class="uk-button uk-button-small">-10%</button>
                <button class="uk-button uk-button-small">0%</button>
            </div>
            <select class="uk-form-select" name="outcomeCategory.categoryId" required="required">
                <option value="">--</option>
                <optgroup th:each="categoryGroup : ${categories}"
                          th:label="${categoryGroup.key}">
                    <option th:each="value : ${categoryGroup.value}"
                            th:label="${value.value}"
                            th:value="${value.key}"></option>
                </optgroup>
            </select>
            <button class="uk-button uk-button-primary">登録</button>
        </form>

        <h2>支出一覧</h2>
        <ul class="uk-pagination">
            <li class="uk-pagination-previous"><a th:href="@{'/outcomes/' + ${outcomeDate.minusDays(1)}}"
                                                  th:text="${outcomeDate.minusDays(1)}">...</a></li>
            <li class="uk-pagination-next"><a th:href="@{'/outcomes/' + ${outcomeDate.plusDays(1)}}"
                                              th:text="${outcomeDate.plusDays(1)}">...</a></li>
        </ul>
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th>支出日</th>
                <th>カテゴリ</th>
                <th>支出名</th>
                <th>金額</th>
                <th>支出者</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="outcome : ${outcomes}">
                <td><a th:href="@{'/outcomes/' + ${outcome.outcomeDate}}" th:text="${outcome.outcomeDate}"></a></td>
                <td><span th:text="${outcome.parentCategoryName}"></span>(<span
                        th:text="${outcome.categoryName}"></span>)
                </td>
                <td><span th:text="${outcome.outcomeName}"></span></td>
                <td><span th:text="${outcome.amount}"></span></td>
                <td><a th:href="@{'/members/' + ${outcome.outcomeBy}}" th:text="${outcome.memberName}"></a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <th>計</th>
                <td><span th:text="${total}"></span>円</td>
                <td>&nbsp;</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="uk-width-1-5"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.0/lodash.min.js"></script>
    <script>
        var request = window.superagent;
        function predict(input) {
            request.post('https://predict.cfapps.pez.pivotal.io/api/predict')
                    .type('form')
                    .send({outcomeName: input.value})
                    .end(function (err, res) {
                        var predicted = _(res.body).sortBy(function (x) {
                            return -x.probability;
                        }).head();
                        var categoryId = document.querySelector("[name='outcomeCategory.categoryId']");
                        if (predicted) {
                            categoryId.value = predicted.categoryId;
                        } else {
                            categoryId.value = '';
                        }
                    });
        }


    </script>
</div>
</body>
</html>