<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Moneygr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
</head>
<body>
<div class="uk-grid">
    <div class="uk-width-1-5"></div>
    <div class="uk-width-3-5">
        <h1><a th:href="@{/home}">Moneyger</a></h1>
        <p>Hello <span th:text="${user.displayName}"></span></p>
        <form th:action="@{/logout}" method="post">
            <button class="uk-button">Logout</button>
        </form>
        <br/>
        <h2>支出一覧</h2>
        <ul class="uk-pagination">
            <li class="uk-pagination-previous"><a th:href="@{'/monthly/' + ${outcomeDate.minusMonths(1)}}"
                                                  th:text="${outcomeDate.minusMonths(1)}">...</a></li>
            <li class="uk-pagination-next"><a th:href="@{'/monthly/' + ${outcomeDate.plusMonths(1)}}"
                                              th:text="${outcomeDate.plusMonths(1)}">...</a></li>
        </ul>
        <table class="uk-table uk-table-striped">
            <tr>
                <th>支出日</th>
                <th>金額</th>
            </tr>
            <tr th:each="outcome : ${summaryByDate}">
                <td><a th:href="@{'/outcomes/' + ${outcome.outcomeDate}}" th:text="${outcome.outcomeDate}"></a></td>
                <td><span th:text="${outcome.subTotal}"></span></td>
            </tr>
            <tr>
                <th>計</th>
                <td><span th:text="${total}"></span>円</td>
            </tr>
        </table>
        <table class="uk-table uk-table-striped">
            <tr>
                <th>カテゴリ</th>
                <th>金額</th>
            </tr>
            <tr th:each="outcome : ${summaryByParentCategory}">
                <td><a th:href="@{'/outcomes/' + ${outcomeDate}+'/' + ${outcome.parentCategoryId}}"
                       th:text="${outcome.parentCategoryName}"></a></td>
                <td><span th:text="${outcome.subTotal}"></span></td>
            </tr>
            <tr>
                <th>計</th>
                <td><span th:text="${total}"></span>円</td>
            </tr>
        </table>
    </div>
    <div class="uk-width-1-5"></div>
</div>
</body>
</html>