<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Moneygr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
</head>
<body>
<div class="uk-grid">
    <div class="uk-width-1-10"></div>
    <div class="uk-width-8-10">
        <nav class="uk-navbar">
            <a th:href="@{/outcomes}" class="uk-navbar-brand">家計簿</a>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    <li><a th:href="@{/outcomes}">支出</a></li>
                    <li><a href="#" onclick="alert('準備中')">収入</a></li>
                    <li><a th:href="@{/report}">今月のレポート</a></li>
                    <li><a th:href="@{${@environment.getProperty('auth-server', 'http://localhost:9999/uaa')}}"><i
                            class="uk-icon-user"></i> <span th:text="${user.displayName}"></span></a></li>
                </ul>
                <form th:action="@{/logout}" method="post" class="uk-form uk-margin-remove uk-display-inline-block">
                    <button class="uk-button">Logout</button>
                </form>
            </div>
        </nav>
        <h2>支出</h2>
        <h3>支出登録</h3>
        <form id="outcomeForm" th:action="@{/outcomes}" method="post" th:object="${outcome}"
              class="uk-panel uk-panel-box uk-form">
            <input class="uk-form" name="outcomeDate" type="date" placeholder="支出日" required="required"
                   th:value="${outcomeDate}"/>
            <input class="uk-form" name="outcomeName" type="text" placeholder="支出名" required="required"
                   onblur="predict(this)"/>
            <input class="uk-form" name="amount" type="number" placeholder="単価" min="0" required="required"
                   onblur="setCalcState(this)"/>
            <input class="uk-form" name="quantity" type="number" placeholder="数量" min="0" value="1"
                   required="required"/>
            <div class="uk-button-group">
                <button class="uk-button uk-button-small" onclick="return triggerReset();">reset</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(8);">+8%</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(-8);">-8%</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(5);">+5%</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(-5);">-5%</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(10);">+10%</button>
                <button class="uk-button uk-button-small" onclick="return triggerCalc(-10);">-10%</button>
            </div>
            <select class="uk-form-select" name="outcomeCategory.categoryId" required="required">
                <option value="">カテゴリ</option>
                <!--/*/ <th:block th:each="categoryGroup : ${categories}" th:label="${categoryGroup.key}"> /*/-->
                <option th:each="value : ${categoryGroup.value}"
                        th:label="${categoryGroup.key + '('+ value.value + ')'}"
                        th:value="${value.key}"></option>
                <!--/*/ </th:block> /*/-->
            </select>
            <label><input th:field="*{creditCard}" class="uk-form" type="checkbox"/> <i
                    class="uk-icon-credit-card uk-icon-medium"></i></label>
            <input type="hidden" name="outcomeId"/>
            <button class="uk-button uk-button-primary">登録</button>
        </form>

        <h3>支出一覧 <span th:if="${parentCategory != null}" th:text="${'('+ parentCategory + ')'}"></span></h3>
        <form method="get" class=" uk-form" th:if="${outcomeDate == null}">
            <input name="fromDate" type="date" th:value="${fromDate}"/> ~
            <input name="toDate" type="date" th:value="${toDate}"/>
            <input name="parentCategoryId" type="hidden" th:if="${param.parentCategoryId != null}"
                   th:value="${param.parentCategoryId[0]}"/>
            <button class="uk-button">Go</button>
        </form>
        <ul class="uk-pagination" th:if="${outcomeDate != null}">
            <li class="uk-pagination-previous"><a th:href="@{'/outcomes/' + ${outcomeDate.minusDays(1)}}"
                                                  th:text="${outcomeDate.minusDays(1)}">...</a></li>
            <li>
                <a th:href="@{'/report'(fromDate=${outcomeDate.with(T(java.time.temporal.TemporalAdjusters).firstDayOfMonth())})}"
                   th:text="${outcomeDate.year + '-' + outcomeDate.monthValue}">...</a></li>
            <li class="uk-pagination-next"><a th:href="@{'/outcomes/' + ${outcomeDate.plusDays(1)}}"
                                              th:text="${outcomeDate.plusDays(1)}">...</a></li>
        </ul>
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                <th>支出日</th>
                <th>カテゴリ</th>
                <th>支出名</th>
                <th>金額</th>
                <th><i class="uk-icon-credit-card"></i></th>
                <th>支出者</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="outcome : ${outcomes}">
                <td><a th:href="@{'/outcomes'(fromDate=${outcome.outcomeDate},toDate=${outcome.outcomeDate})}"
                       th:text="${outcome.outcomeDate}"></a></td>
                <td>
                    <a th:href="@{'/outcomes'(fromDate=${fromDate},toDate=${toDate},parentCategoryId=${outcome.parentCategoryId})}"
                       th:text="${outcome.parentCategoryName}"></a> (<span
                        th:text="${outcome.categoryName}"></span>)
                </td>
                <td><span th:text="${outcome.outcomeName}"></span></td>
                <td><span th:text="${outcome.amount}"></span>円 x <span th:text="${outcome.quantity}"></span></td>
                <td><i class="uk-icon-check-square" th:if="${outcome.creditCard}"></i></td>
                <td><span th:text="${outcome.memberName}"></span></td>
                <td>
                    <div class="uk-button-group"
                         th:attr="data-id=${outcome.outcomeId}">
                        <button class="uk-button uk-button-small" onclick="loadFromServer(this)"><i
                                class="uk-icon-edit"></i></button>
                        <button class="uk-button uk-button-small uk-button-danger"
                                onclick="return deleteOutcome(this);"><i class="uk-icon-trash"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <th>計</th>
                <td><span th:text="${total}"></span>円</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="uk-width-1-10"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.0/lodash.min.js"></script>
    <script>
        var request = window.superagent;
        function predict(input) {
            request.post('/api/predict')
                    .type('form')
                    .set('X-CSRF-TOKEN', document.forms[0]._csrf.value)
                    .send({outcomeName: input.value})
                    .end(function (err, res) {
                        var predicted = _(res.body).sortBy(function (x) {
                            return -x.probability;
                        }).head();
                        var categoryId = document.querySelector("[name='outcomeCategory.categoryId']");
                        if (predicted) {
                            categoryId.value = predicted.categoryId;
                        } else {
                            categoryId.value = '';
                        }
                    });
        }

        function deleteOutcome(button) {
            if (confirm("本当に削除しますか?")) {
                request.del('/api/outcomes/' + button.parentNode.dataset.id)
                        .set('X-CSRF-TOKEN', document.forms[0]._csrf.value)
                        .end(function (err, res) {
                            if (res.status == 204) {
                                location.reload();
                            }
                        });
            }
            return false;
        }

        function loadFromServer(button) {
            request.get('/api/outcomes/' + button.parentNode.dataset.id)
                    .end(function (err, res) {
                        if (res.status == 200) {
                            var f = document.querySelector("#outcomeForm");
                            var outcome = JSON.parse(res.text);
                            request.get(outcome._links.outcomeCategory.href.replace('api/outcomes/', '' /* remoce dup */))
                                    .end(function (err, res) {
                                        var category = JSON.parse(res.text);
                                        f.querySelector("select").value = category.categoryId;
                                    });
                            for (var k in outcome) {
                                if (f[k]) {
                                    if (k != 'creditCard') {
                                        f[k].value = outcome[k];
                                    } else {
                                        f._creditCard = outcome.creditCard ? 'on' : 'off';
                                    }
                                }
                            }
                            var b = _.last(f.querySelectorAll('button'));
                            b.innerText = "更新";
                            b.className = b.className + " uk-button-success";
                        }
                    });
            return false;
        }

        document.addEventListener('DOMContentLoaded', function () {
            var event = new Event('updateAmount');
            var amount = document.querySelector("[name='amount']");

            window.CalcState = function (val) {
                this.amount = val;
                this.updated = val;
                this.freezed = true;
            };
            var calcState = new CalcState(0);

            window.setCalcState = function (input) {
                calcState = new CalcState(Number(input.value));
                calcState.freezed = false;
            };

            window.triggerCalc = function (percent) {
                if (!calcState.freezed) {
                    calcState.updated = Math.floor((percent + 100) * Number(calcState.updated) / 100);
                    amount.dispatchEvent(event);
                }
                return false;
            };

            window.triggerReset = function () {
                if (!calcState.freezed) {
                    calcState.updated = calcState.amount;
                    amount.dispatchEvent(event);
                }
                return false;
            };

            amount.addEventListener('updateAmount', function () {
                amount.value = calcState.updated;
            });

        }, false);


    </script>
</div>
</body>
</html>