<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Moneygr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}"/>
</head>
<body>
<div class="uk-grid">
    <div class="uk-width-10-10">
        <nav class="uk-navbar">
            <a th:href="@{/outcomes}" class="uk-navbar-brand">家計簿</a>
        </nav>
        <ul class="uk-tab" data-uk-tab="">
            <li><a th:href="@{/outcomes}">支出</a></li>
            <li><a th:href="@{/incomes}">収入</a></li>
            <li><a th:href="@{/report}">今月のレポート</a></li>
            <li><a th:href="@{${@environment.getProperty('auth-server', 'http://localhost:9999/uaa')}}"><i
                    class="uk-icon-user"></i> <span th:text="${user.displayName}"></span></a></li>
        </ul>
        <h2><span th:text="${fromDate.toString() + ' ~ ' + toDate.toString()}"></span>のレポート</h2>
        <ul class="uk-pagination">
            <li class="uk-pagination-previous"><a
                    th:href="@{'/report'(fromDate=${fromDate.minusMonths(1).with(T(java.time.temporal.TemporalAdjusters).firstDayOfMonth())})}"
                    th:text="${fromDate.minusMonths(1).year + '-' + fromDate.minusMonths(1).monthValue}">...</a>
            </li>
            <li class="uk-pagination-next"><a
                    th:href="@{'/report'(fromDate=${fromDate.plusMonths(1).with(T(java.time.temporal.TemporalAdjusters).firstDayOfMonth())})}"
                    th:text="${fromDate.plusMonths(1).year + '-' + fromDate.plusMonths(1).monthValue}">...</a>
            </li>
        </ul>
        <form method="get" class=" uk-form">
            <input name="fromDate" type="date" th:value="${fromDate}"/> ~
            <input name="toDate" type="date" th:value="${toDate}"/>
            <button class="uk-button">Go</button>
        </form>
        <h3>支出一覧</h3>
        <a th:href="@{/outcomes(fromDate=${fromDate},toDate=${toDate})}">この期間の全支出</a>

        <table class="uk-table uk-table-striped uk-table-condensed">
            <thead>
            <tr>
                <th>支出日</th>
                <th>金額</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="outcome : ${summaryByDate}">
                <td><a th:href="@{'/outcomes/' + ${outcome.outcomeDate}}" th:text="${outcome.outcomeDate}"></a></td>
                <td><span th:text="${outcome.subTotal}"></span>円</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>計</th>
                <td><span th:text="${total}"></span>円</td>
            </tr>
            </tfoot>
        </table>

        <table class="uk-table uk-table-striped uk-table-condensed">
            <thead>
            <tr>
                <th>カテゴリ</th>
                <th>金額</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="outcome : ${summaryByParentCategory}">
                <td>
                    <a th:href="@{'/outcomes'(fromDate=${fromDate},toDate=${toDate},parentCategoryId=${outcome.parentCategoryId})}"
                       th:text="${outcome.parentCategoryName}"></a></td>
                <td><span th:text="${outcome.subTotal}"></span>円</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>計</th>
                <td><span th:text="${total}"></span>円</td>
            </tr>
            </tfoot>
        </table>
        <h3>収入</h3>
        <table class="uk-table uk-table-striped uk-table-condensed">
            <thead>
            <tr>
                <th>収入日</th>
                <th>金額</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr>
                <th>計</th>
                <td><span></span>円</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <form th:action="@{/logout}" method="post" class="uk-form uk-margin-remove uk-display-inline-block">
        <button class="uk-button"><i class="uk-icon-sign-out"></i> Logout</button>
    </form>
</div>
</body>
</html>